*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.front {
  margin-top: 48px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.about_us{
  background-image: url("../Photos/galaxy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.front h1{
  margin-top: 4%;
  margin-bottom: 3%;
  width: 100%;
text-align: center;
  font-size: 75px;
}

.about_us section{
  text-align: right;
  width: 46%;
}
.items{
  background: rgb(0,124,53);
  background: linear-gradient(241deg, rgba(0,124,53,1) 0%, rgba(0,40,124,1) 100%);
  color: snow;
}
.items table{
  width: 98%;
  border: 3px solid white;
  border-style: ridge;
}
.items table th{
  border: 3px solid white;
  border-style: ridge;
}

.about_us{
  background-image: url("../Photos/chaos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}



.topnav {
  position: fixed;
  width: 100%;
  top: 0vh;
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  color: white;
background-color: black;
}
  
.topnav a.active {
  background-color: #ecca30;
  color: black;
}



#logo{
  position: absolute;
  right: 20px;
  height: 100%;
}

footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 10px;
  background-color: #6c757d;
  color: #adb5bd;
}
footer p {
  margin: 3px;
}

.Slides {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 20px;
  display: none;
}
.Slides h3 {
  font-size: 90px;
}
.Slides p{
  width: 50%;
}

.slideshow-container {

  max-width: 88%;
  position: relative;
  margin: auto;
  height: 83vh;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0%;
  height: 100%;
  padding: 3%;
  color: white;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s;
  border-radius: 20px 3px 3px 20px;
}
.next {
  right: 0;
  border-radius: 3px 20px 20px 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



@media screen and (max-width: 600px) {
  .topnav{
    display: flex;
    justify-content: center;
  }
  .topnav img {
    display: none;
  }
  .topnav a{
    width: 25%;
  }
}